<div class="sidebar__container">
    <p-sidebar [visible]="true" modal="false">
        <div class="icons flex flex-column align-items-center">
            <app-sidebar-item 
                tooltipMessage="Usuários"
                [icon]="usersIcon"
                [tiredMenuItems]="usersTiredMenu"
                [isTiredMenuDisplayNone]="isUsersTiredMenuDisplayNone"
            />
            <app-sidebar-item 
                tooltipMessage="Conhecimentos"
                [icon]="knowledgesIcon"
                [tiredMenuItems]="knowledgesTiredMenu"
                [isTiredMenuDisplayNone]="isKnowledgesTiredMenuDisplayNone"
            />
            <app-sidebar-item 
                tooltipMessage="Chats"
                [icon]="chatsIcon"
                [tiredMenuItems]="chatsTiredMenu"
                [isTiredMenuDisplayNone]="isChatsTiredMenuDisplayNone"
            />
            <app-sidebar-item 
                tooltipMessage="Relatórios"
                [icon]="reportsIcon"
                [tiredMenuItems]="reportsTiredMenu"
                [isTiredMenuDisplayNone]="isReportsTiredMenuDisplayNone"
            />
        </div>
    </p-sidebar>
</div>