<div class="knowledges__container">
    <app-toolbar [username]="username" />
    <app-sidebar />
    <div class="nav__container">
        <app-breadcrumb [items]="breadCrumbItems" [buttons]="breadCrumbButtons" (onButtonClickEmitt)="onBreadCrumbButtonClick($event)"/>
        <div class="content__wrapper flex flex-row">
            <div class="left__container">
                <p-panel [showHeader]="false">
                    <p-tabView [activeIndex]="tabViewActiveIndex" (activeIndexChange)="onActiveIndexChange($event)">
                        <p-tabPanel header="Atendendo">
                            <app-room-order-list 
                                [rooms]="chattingRooms"
                                [noRoomsMessage]="['em atendimento']"
                                (onItemClick)="onRoomClick($event)"
                            />
                        </p-tabPanel>
                        <p-tabPanel header="Espera" *ngIf="userType === 'employee'">
                            <app-room-order-list 
                                [rooms]="openRooms" 
                                [noRoomsMessage]="['em espera']"
                                (onItemClick)="onRoomClick($event)"
                            />
                        </p-tabPanel>
                        <p-tabPanel header="Pausado" *ngIf="userType === 'employee'">
                            <app-room-order-list 
                                [rooms]="pausedRooms" 
                                [noRoomsMessage]="['pausadas']"
                                (onItemClick)="onRoomClick($event)"
                            />
                        </p-tabPanel>
                        <p-tabPanel header="Encerrado">
                            <app-room-order-list 
                                [rooms]="closedRooms" 
                                [noRoomsMessage]="['finalizadas']" 
                                (onItemClick)="onRoomClick($event)"
                            />
                        </p-tabPanel>
                    </p-tabView>
                </p-panel>
            </div>
            <div class="right__container height-100">
                <ng-container *ngIf="selectedRoom.code; else noRoomSelected">
                    <app-chat-box 
                        [room]="selectedRoom" 
                        (onSendTextMessageEmitt)="onSendTextMessage($event)" 
                        (onSendImageEmitt)="onSendFile($event)"
                        (onEmployeeEnterChatEmitt)="onEmployeeEnterChat($event)"
                        (onEditRoomEmitt)="onEditRoom($event)"
                        (onTransferRoomEmitt)="onTransferRoom($event)"
                        (onCloseRoomEmitt)="onCloseRoom($event)"
                    />
                </ng-container>
                <ng-template #noRoomSelected>
                    <app-chat-search />
                </ng-template>
            </div>
        </div>
    </div>
</div>

<app-add-room-dialog-employee
    [(dialogVisibility)]="addRoomDialogEmployeeVisibility"
    (onAddRoomEmitt)="onAddRoomByEmployee($event)"
/>

<app-add-room-dialog-customer 
    [(dialogVisibility)]="addRoomDialogCustomerVisibility"
    (onAddRoomEmitt)="onAddRoomByCustomer($event)"
/>