.example-spacer {
    flex: 1 1 auto;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.margin-right-1-em {
    margin-right: 1em;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.margin-bottom-05-em {
    margin-bottom: 0.5em;
}

.margin-bottom-2-em {
    margin-bottom: 2em;
}


.justify-content-end {
    justify-content: end;
}

.gap-05-em {
    gap: 0.5em;
}