<div class="user-container">
  <div class="user-container__toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="onMenuClick()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Lista de usuários</span>
      <span class="example-spacer"></span>
      <span>Olá, {{ username }}</span>
    </mat-toolbar>
  </div>

  <div class="user-container__table">
    <p-table [value]="tableValue" 
      [lazy]="true" 
      [rows]="rows" 
      [totalRecords]="totalElements"
      paginator="true" 
      [showCurrentPageReport]="true" 
      currentPageReportTemplate="{first} - {last} de um total de {totalRecords} usuários"
      (onPage)="handlePageEvent($event)" 
      [rowsPerPageOptions]="[5, 10, 25, 50]"
      [sortField]="'username'"
      (onSort)="handleSortEvent($event)"
    >

      <!-- TABLE CAPTION -->
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <div>
            <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpar filtros" (click)="onClearFilters()" class="margin-right-1-em" />
            <p-button [outlined]="true" icon="pi pi-refresh" label="Recarregar" (click)="onRefreshTable()" />
          </div>
          <div>
            <p-button [outlined]="true" severity="success" icon="pi pi-plus" label="Incluir" (click)="onAddUser()" class="margin-right-1-em" />
            <p-button [outlined]="true" severity="help" icon="pi pi-file-pdf" label="Report" (click)="onUserReport()" />
          </div>
      </div>
      </ng-template>

      <!-- TABLE HEADER -->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            Id <p-sortIcon field="id" />
          </th>
          <th pSortableColumn="username">
            <div class="flex justify-content-between align-items-center">
              <div>
                Nome de usuário 
                <p-sortIcon field="username" />
              </div>
              <div>
                <p-columnFilter
                  ariaLabel="Filtra usuário"
                  display="menu"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                  [showClearButton]="false"
                >
                  <ng-template pTemplate="filter">
                    <input type="text" placeholder="Busca por nome" pInputText [(ngModel)]="queryUsername">
                  </ng-template>
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="fullname">
            <div class="flex justify-content-between align-items-center">
              <div>
                Nome Completo 
                <p-sortIcon field="fullname" />
              </div>
              <p-columnFilter
                ariaLabel="Filtra usuário"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
                [showClearButton]="false"
              >
                <ng-template pTemplate="filter">
                  <input type="text" placeholder="Busca por nome" pInputText [(ngModel)]="queryUsername">
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th>
            Ativo
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
                <div>
                  Permissões
                </div>
                <div>
                  <p-columnFilter 
                    field="enabled"
                    ariaLabel="Filtra usuário"
                    display="menu"
                    [showMatchModes]="false"
                    [showOperator]="false"
                    [showAddButton]="false"
                    [showClearButton]="false"
                  >
                    <ng-template pTemplate="filter">
                      <p-dropdown [(ngModel)]="queryPermission" [options]="permissions" placeholder="Busca por permissão">
                          <ng-template let-permission pTemplate="item">
                              <p-tag [value]="permission.label" />
                          </ng-template>
                      </p-dropdown>
                    </ng-template>
                  </p-columnFilter>
                </div>
            </div>           
          </th>
          <th>
            Ações
          </th>
        </tr>
      </ng-template>

      <!-- TABLE BODY -->
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.key }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.enabled | booleanToYn }}</td>
          <td>
            <p-tag 
              *ngFor="let d of user.permissions" 
              [value]="d.description | userPermission" 
              [severity]="getPermissionSeverity(d.description)" 
              [rounded]="true"
            />
          </td>
          <td>
            <p-button 
              pRipple
              icon="pi pi-info-circle" 
              [rounded]="true" 
              [outlined]="true" 
              severity="info" 
              (click)="onGetUser(user)" />
            <p-button 
              pRipple
              icon="pi pi-pencil" 
              [rounded]="true" 
              [outlined]="true" 
              severity="success" 
              (click)="onEditUser(user)" />
            <p-button 
              pRipple 
              icon="pi pi-trash" 
              severity="danger" 
              [rounded]="true" 
              [outlined]="true" 
              [hidden]="username === user.username"
              (click)="onDeleteUser(user)" />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="card flex justify-content-center">
      <p-dialog header="Adicionar usuário" [modal]="true" [(visible)]="isAddUserDialogVisible" [style]="{ width: '30em' }">
          <form [formGroup]="userForm" class="flex flex-direction-column">
            <div class="flex flex-direction-row align-items-center justify-content-between margin-bottom-05-em">
              <label for="username">Nome de usuário</label>
              <input pInputText formControlName="username" />
            </div>
            <div class="flex flex-direction-row align-items-center justify-content-between margin-bottom-05-em">
              <label for="fullname">Nome completo</label>
              <input pInputText formControlName="fullname" />
            </div>
            <div class="flex flex-direction-row align-items-center justify-content-between margin-bottom-2-em">
              <label for="password">Senha</label>
              <input pInputText formControlName="password" />
            </div>
          </form>
          
          <div class="flex flex-direction-row justify-content-end gap-05-em">
            <p-button icon="pi pi-undo" label="Cancelar" severity="warning" (click)="isAddUserDialogVisible = false" size="small" />
            <p-button icon="pi pi-save" label="Salvar" severity="success" (click)="onSave()" size="small" />
          </div>
      </p-dialog>
  </div>
</div>