<div class="knowledges__container">
    <app-toolbar [username]="username" />
    <app-sidebar />
    <div class="nav__container">
        <app-breadcrumb [items]="breadCrumbItems" />
        <div class="content__container">
            <p-table 
                [value]="tableValue" 
                [lazy]="true" 
                [rows]="rows" 
                [totalRecords]="totalElements"
                paginator="true" 
                [showCurrentPageReport]="true" 
                currentPageReportTemplate="{first} - {last} de um total de {totalRecords} conhecimentos"
                (onPage)="handlePageEvent($event)" 
                [rowsPerPageOptions]="[5, 10, 25]"
                [sortField]="'title'"
                (onSort)="handleSortEvent($event)"
                styleClass="p-datatable-sm"
            >
                <!-- TABLE CAPTION -->
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-space-between">
                    <div>
                        <p-button [outlined]="true" icon="pi pi-filter-slash" label="Limpar filtros" (click)="onClearFilters()" class="margin-right-1-em" />
                        <p-button [outlined]="true" icon="pi pi-refresh" label="Recarregar" (click)="onRefreshTable()" />
                    </div>
                    <div>
                        <p-button [outlined]="true" severity="success" icon="pi pi-plus" label="Incluir" (click)="onAddKnowledge()" class="margin-right-1-em" />
                        <p-button [outlined]="true" severity="help" icon="pi pi-file-pdf" label="Report" (click)="onKnowledgeReport()" />
                    </div>
                </div>
                </ng-template>
    
                <!-- TABLE HEADER -->
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">
                            Id 
                            <p-sortIcon field="id" />
                        </th>
                        <th pSortableColumn="title">
                            <div class="flex justify-content-space-between align-items-center">
                                <div>
                                    Título
                                    <p-sortIcon field="title" />
                                </div>
                                <div>
                                    <p-columnFilter
                                    ariaLabel="Filtra conhecimento"
                                    display="menu"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    [showClearButton]="false"
                                    >
                                    <ng-template pTemplate="filter">
                                        <input type="text" placeholder="Busca por título" pInputText [(ngModel)]="queryTitle">
                                    </ng-template>
                                    </p-columnFilter>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-space-between align-items-center">
                                <div>
                                    Tags
                                </div>
                                <div>
                                <p-columnFilter 
                                    field="enabled"
                                    ariaLabel="Filtra conhecimento"
                                    display="menu"
                                    [showMatchModes]="false"
                                    [showOperator]="false"
                                    [showAddButton]="false"
                                    [showClearButton]="false"
                                >
                                    <ng-template pTemplate="filter">
                                    <p-dropdown [(ngModel)]="queryTag" [options]="tags" placeholder="Busca por tag">
                                        <ng-template let-tag pTemplate="item">
                                            <p-tag [value]="tag.label" />
                                        </ng-template>
                                    </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                                </div>
                            </div>           
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </ng-template>
    
                <!-- TABLE BODY -->
                <ng-template pTemplate="body" let-knowledge>
                    <tr>
                    <td>{{ knowledge.key }}</td>
                    <td>{{ knowledge.title }}</td>
                    <td>
                        <p-tag 
                        *ngFor="let d of knowledge.tags" 
                        [value]="d.description"  
                        [rounded]="true"
                        />
                    </td>
                    <td>
                        <p-button 
                        pRipple
                        icon="pi pi-info-circle" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="info" 
                        (click)="onGetKnowledge(knowledge)" />
                        <p-button 
                        pRipple
                        icon="pi pi-pencil" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (click)="onEditKnowledge(knowledge)" />
                        <p-button 
                        pRipple 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true"
                        (click)="onDeleteKnowledge(knowledge)" />
                    </td>
                    </tr>
                </ng-template>
    
            </p-table>
        </div>
    </div>

    <div class="flex justify-content-center">
        <p-dialog header="Adicionar conhecimento" [modal]="true" [(visible)]="isAddKnowledgeDialogVisible" [style]="{ width: '60em' }">
            <form [formGroup]="knowledgeForm" class="form">
                <div class="flex flex-column margin-bottom-1-em">
                    <label class="margin-bottom-05-rem" for="title">Título</label>
                    <input pInputText formControlName="title" />
                </div>
                
                <div class="flex flex-column margin-bottom-1-em">
                    <label class="margin-bottom-05-rem" for="content">Conteúdo</label>
                    <p-editor 
                        formControlName="content" 
                        [style]="{ height: '100px' }" 
                    />
                </div>

                <div class="flex flex-column margin-bottom-1-em">
                    <label class="margin-bottom-05-rem" for="tags">Tags</label>
                    <p-multiSelect
                        [options]="tagsForm" 
                        formControlName="tags" 
                        optionLabel="description" 
                        placeholder="Selecione tags"
                        [showClear]="false"
                        [showHeader]="false"
                    />
                </div>

                <div class="flex flex-column margin-bottom-1-em">
                    <label class="margin-bottom-05-rem" for="software">Software</label>
                    <p-dropdown
                        [options]="softwares" 
                        formControlName="software" 
                        optionLabel="description" 
                        placeholder="Selecione software"
                        [showClear]="false"
                    />
                </div>
                
            </form>
            
            <div class="flex flex-row justify-content-end gap-05-em">
              <p-button icon="pi pi-undo" label="Cancelar" severity="warning" (click)="isAddKnowledgeDialogVisible = false" size="small" />
              <p-button icon="pi pi-save" label="Salvar" severity="success" (click)="onSave()" size="small" />
            </div>
        </p-dialog>
    </div>
</div>