<div class="room-order-list__container">
    <ng-container *ngIf="rooms.length !== 0; else roomsLengthIsZero">
        <p-orderList 
            [value]="rooms" 
            [listStyle]="{ 'height': '30.5em' }"
            [(selection)]="selectedRooms"
        >
        <ng-template let-room pTemplate="item">
            <div class="flex flex-row align-items-center justify-content-space-between" (click)="onItemClick(room)">
                    <ng-container *ngIf="userType === 'employee'; else customerTemplate">
                        <app-room-order-list-employee 
                            class="width-100"
                            [room]="room"
                        />
                    </ng-container>
                    <ng-template #customerTemplate>
                        <app-room-order-list-customer 
                            class="width-100"
                            [room]="room"
                        />
                    </ng-template>               
            </div>
        </ng-template>
        </p-orderList>
    </ng-container>
    <ng-template #roomsLengthIsZero>
        <p-orderList 
            [value]="noRoomsMessage" 
            [listStyle]="{ 'height': '30.5em' }"
        >   
            <ng-template let-message pTemplate="item">
                <h2>Sem salas {{ message }}</h2>
            </ng-template>
        </p-orderList>
    </ng-template>
</div>
