<div class="room-order-list__container">
    <ng-container *ngIf="rooms.length !== 0; else roomsLengthIsZero">
        <p-orderList 
            [value]="rooms" 
            [listStyle]="{ 'height': '30.5em' }"
            [(selection)]="selectedRooms"
        >
        <ng-template let-room pTemplate="item">
            <div class="flex flex-row align-items-center justify-content-space-between" (click)="onItemClick(room)">
                <div class="flex align-items-center gap-05-em width-100">
                    <ng-container *ngIf="userType === 'employee'; else customerAvatarTemplate">
                        <p-avatar 
                            [label]="room.customer.username[0]" 
                            size="normal" 
                            shape="circle" 
                            [style]="{ backgroundColor: 'violet', color: 'black'}"
                        />
                    </ng-container>
                    <ng-template #customerAvatarTemplate>
                        <p-avatar 
                            [label]="room.employee.username[0]" 
                            size="normal" 
                            shape="circle" 
                            [style]="{ backgroundColor: 'violet', color: 'black'}"
                        />
                    </ng-template>
                    <div class="flex flex-column width-100">
                        <div class="grid grid-auto-flow-column">
                            <ng-container *ngIf="userType === 'employee'; else customerTemplate">
                                <div>
                                    {{ room.customer.username }}
                                </div>
                            </ng-container>
                            <ng-template #customerTemplate>
                                <div>
                                    {{ room.employee.username }}
                                </div>
                            </ng-template>
                            <div class="flex justify-self-end">
                                #{{ room.code }}
                            </div>
                    </div>
                        <div class="grid grid-auto-flow-column">
                            <ng-container *ngIf=" room.messages.at(-1); else noMessageTemplate">
                                <div>
                                    {{ room.messages.at(-1) | messageRoomOrderList }}
                                </div>
                                <div class="flex justify-self-end">
                                    {{ room.messages.at(-1)?.createDatetime | timeRoomOrderList }}
                                </div>
                            </ng-container>
                            <ng-template #noMessageTemplate>
                                <div>
                                    Sala criada
                                </div>
                                <div class="flex justify-self-end">
                                    {{ room.createDatetime | timeRoomOrderList }}
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        </p-orderList>
    </ng-container>
    <ng-template #roomsLengthIsZero>
        <p-orderList 
            [value]="noRoomsMessage" 
            [listStyle]="{ 'height': '30.5em' }"
        >   
            <ng-template let-message pTemplate="item">
                <h2>Sem salas {{ message }}</h2>
            </ng-template>
        </p-orderList>
    </ng-template>
</div>
