.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.align-self-end {
    align-self: end;
}

.justify-self-end {
    justify-self: end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center
}

.justify-content-baseline {
    justify-content: baseline;
}

.justify-content-end {
    justify-content: end;
}