.width-100 {
    width: 100%;
}

.width-48 {
    width: 48%;
}

.height-100 { 
    height: 100%;
}

.margin-top-5-em {
    margin-top: 5em;
}

.margin-right-1-em {
    margin-right: 1em;
}

.margin-bottom-1-em {
    margin-bottom: 1em;
}

.margin-bottom-05-rem {
    margin-bottom: .5rem;
}

.gap-05-em {
    gap: .5em;
}