<div class="edit-room-dialog__container">
    <p-dialog header="Alteração da sala #{{ room.code }}" [modal]="true" [(visible)]="dialogVisibility" (onShow)="onShow()" (onHide)="onDialogVisibilityChange()" [style]="{ width: '80vw', height: '75vh' }">
        <div class="flex flex-column justify-content-space-between height-100">
            <div>
                <form [formGroup]="roomForm" class="flex flex-column">
                    <div class="flex flex-row gap-05-em width-100">
                        <div class="flex flex-column margin-bottom-1-em width-48">
                            <label class="margin-bottom-05-rem" for="customer">Cliente</label>
                            <span>{{ room.customer.username }}</span>
                        </div>
                        <div class="flex flex-column margin-bottom-1-em">
                            <label class="margin-bottom-05-rem" for="employee">Funcionário</label>
                            <ng-container *ngIf="room.status !== 'Open'">
                                <span>{{ room.employee.username }}</span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="flex flex-row gap-05-em width-100">
                        <div class="flex flex-column margin-bottom-1-em width-48">
                            <label class="margin-bottom-05-rem" for="sector">Setor</label>
                            <span>{{ room.sector.description }}</span>
                        </div>
                        <div class="flex flex-column margin-bottom-1-em">
                            <label class="margin-bottom-05-rem" for="status">Status</label>
                            <span>{{ room.status | editRoomDialogRoomStatus }}</span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-05-em width-100">
                        <div class="flex flex-column margin-bottom-1-em width-48">
                            <label class="margin-bottom-05-rem" for="priority">Prioridade</label>
                            <p-dropdown
                                [options]="priorityOptions" 
                                formControlName="priority"
                                optionLabel="description"
                                placeholder="Selecione a prioridade"
                                [showClear]="false"
                            />
                        </div>
                    </div>
                    <div class="flex flex-row gap-05-em width-100">
                        <div class="flex flex-column margin-bottom-1-em width-48">
                            <label class="margin-bottom-05-rem" for="reason">Motivo do chamado</label>
                            <textarea 
                                rows="5" 
                                pInputTextarea 
                                formControlName="reason"
                                [style]="{ resize: 'none' }"
                            ></textarea>
                        </div>
                        <div class="flex flex-column margin-bottom-1-em width-48">
                            <label class="margin-bottom-05-rem" for="solution">Solução do chamado</label>
                            <textarea 
                                rows="5" 
                                pInputTextarea 
                                formControlName="solution"
                                [style]="{ resize: 'none' }"
                            ></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="flex flex-row justify-content-end gap-05-em">
                  <p-button icon="pi pi-undo" label="Cancelar" severity="warning" (click)="onDialogVisibilityChange()" size="small" />
                  <p-button icon="pi pi-save" label="Salvar" severity="success" (click)="onEditRoom()" size="small" />
                </div>
            </div>
        </div>
    </p-dialog>
</div>
