.example-spacer {
    flex: 1 1 auto;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.margin-right-1-em {
    margin-right: 1em;
}