::ng-deep .message-scroll-panel__container .p-card .p-card-content {
    padding: 0;
}

::ng-deep .message-scroll-panel__container .employee .p-component {
    background-color: #d1d5ed;
    margin-left: 10em;
}

::ng-deep .message-scroll-panel__container .customer .p-component {
    margin-right: 10em;
}

::ng-deep .message-scroll-panel__container .p-component {
    margin-bottom: 0.2em;
}