<div class="knowledges__container">
    <app-toolbar [username]="username" />
    <app-sidebar />
    <div class="nav__container">
        <app-breadcrumb [items]="breadCrumbItems" />
        <div class="flex flex-row justify-content-space-evenly margin-top-5-em">
            <p-card header="Selecionar setor" [style]="{ width: '300px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://media.istockphoto.com/id/1390481905/photo/multi-factor-authentication-user-login-cybersecurity-privacy-protect-data-internet-network.jpg?b=1&s=612x612&w=0&k=20&c=27pBy4JXxwEIZ2qLyd7yvxSxuvma3mGRZdqvmkiKDvI=" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-button label="Acessar" severity="info" (click)="onGoToSelectSectorPage()" />
                </ng-template>
            </p-card>
            <p-card header="Dashboard" [style]="{ width: '300px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://media.istockphoto.com/id/1390481905/photo/multi-factor-authentication-user-login-cybersecurity-privacy-protect-data-internet-network.jpg?b=1&s=612x612&w=0&k=20&c=27pBy4JXxwEIZ2qLyd7yvxSxuvma3mGRZdqvmkiKDvI=" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-button label="Acessar" severity="info" (click)="onGoToChatDashboardPage()" />
                </ng-template>
            </p-card>
            <p-card header="Gerenciar setores" [style]="{ width: '300px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://media.istockphoto.com/id/1413855189/photo/chat-bot-service-concept-virtual-assistant-and-crm-software-automation-technology-customer.jpg?b=1&s=612x612&w=0&k=20&c=xp4_9fh9imZOgEyzycEa0HCDWkkEG2J3GqzppxRNAnc=" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-button label="Acessar" severity="info" (click)="onGoToSectorsPage()" />
                </ng-template>
            </p-card>
            <p-card header="Relatórios" [style]="{ width: '300px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&w=600" />
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-button label="Acessar" severity="info" (click)="onGoToChatReportsPage()" />
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
