/* You can add global styles to this file, and also import other style files */
@import "./styles/primeng";
@import "./styles/variables";
@import "./styles/flex-classes";
@import "./styles/sizing-classes";

html, body { 
    height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nav__container {
    padding-top: 56px;
    margin-left: 70px;
    min-height: 100vh;
    height: 100%;
    background-color: #fafafa;
}

.content__container {
    margin: 2rem;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}
